h2 {
  color: MediumVioletRed;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
}
li {
  color: rgb(175, 18, 70);
  padding-top: 5px;
  font-size: 15px;
}
.success {
color: MediumAquamarine;
background: whitesmoke;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.error {
color: rgb(205, 102, 102);
background: whitesmoke;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.detail {
  padding-top: 10;
  padding-left: 2;
  border: solid;
  border-width: 1;
  margin-bottom: 5;
}